## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [ ]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [3]:
import pandas as pd
auto=pd.read_csv("Automobile_data.csv")
auto

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

**Check the head of the DataFrame.**

In [76]:
auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,price_per_hp
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000,21,27,13495.0,121.576577
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000,21,27,16500.0,148.648649
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154.0,5000,19,26,16500.0,107.142857
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,10.0,102.0,5500,24,30,13950.0,136.764706
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.4,8.0,115.0,5500,18,22,17450.0,151.739130

**How many rows and columns are there?**

In [78]:
auto.shape

(205, 27)

**What is the average Price of all cars in the dataset?**

In [79]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
a=auto['price'].mean()
a

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [85]:
a=auto['price'].min()
b=auto[auto['price']==a]
b['make']

138    subaru
Name: make, dtype: object

In [86]:
a=auto['price'].max()
b=auto[auto['price']==a]
b['make']

74    mercedes-benz
Name: make, dtype: object

**How many cars have horsepower greater than 100?**

In [5]:
auto.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [10]:
auto['horsepower'] = pd.to_numeric(auto['horsepower'], errors='coerce')
hp=auto[auto['horsepower']>100]
hp.shape[0]

92

**How many hatchback cars are in the dataset ?**

In [13]:
hb=auto[auto['body-style']=='hatchback']
hb

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.00,154.0,5000,19,26,16500
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.00,160.0,5500,16,22,?
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48.0,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70.0,5400,38,43,6295
21,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68.0,5500,37,41,5572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92.0,4200,27,32,9988
177,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92.0,4200,27,32,11248
178,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161.0,5200,20,24,16558
179,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161.0,5200,19,24,15998
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.4,8.50,90.0,5500,24,29,9980

In [14]:
hb.shape[0]

70

**What are the 3 most commonly found cars in the dataset?**

In [23]:
mc=auto['make'].value_counts()
mc

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

In [24]:
mc.head(3)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [40]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
car_purchased = auto[auto['price'] == 7099][['make','price']]
car_purchased

      make   price
90  nissan  7099.0

**Which cars are priced greater than 40000?**

In [41]:
pr=auto[auto['price']>40000]
pr

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182.0,5400,16,22,41315.0
73,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.8,3.35,8.0,184.0,4500,14,16,40960.0
74,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184.0,4500,14,16,45400.0

**Which are the cars that are both a sedan and priced less than 7000?**

In [45]:
auto['price'] = pd.to_numeric(auto['price'], errors='coerce')
cars = auto[(auto['body-style'] == 'sedan') & (auto['price'] < 7000)]
cars

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
20,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70.0,5400,38,43,6575.0
25,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68.0,5500,31,38,6692.0
43,0,?,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78.0,4800,24,29,6785.0
53,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68.0,5000,31,38,6695.0
85,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88.0,5000,25,32,6989.0
89,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69.0,5200,31,37,5499.0
91,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69.0,5200,31,37,6649.0
92,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69.0,5200,31,37,6849.0
121,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68.0,5500,31,38,6692.0
156,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70.0,4800,30,37,6938.0

 **Count the number of unique values in the `fuel_type` column.**

In [51]:
fuel_type=auto['fuel-type']
fuel_type.nunique()

2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [54]:
hpcars=auto[(auto['horsepower']>100) & (auto['horsepower']<200)][['make','horsepower','price']]
hpcars

            make  horsepower    price
0    alfa-romero       111.0  13495.0
1    alfa-romero       111.0  16500.0
2    alfa-romero       154.0  16500.0
3           audi       102.0  13950.0
4           audi       115.0  17450.0
..           ...         ...      ...
200        volvo       114.0  16845.0
201        volvo       160.0  19045.0
202        volvo       134.0  21485.0
203        volvo       106.0  22470.0
204        volvo       114.0  22625.0

[86 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [55]:
a=auto.groupby('body-style')[['city-mpg','highway-mpg']]
a.mean()

              city-mpg  highway-mpg
body-style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.314286    32.171429
sedan        25.322917    30.833333
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [56]:
a=auto.groupby('make')['price']
a.median()

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [60]:
a=auto[(auto['wheel-base']>100) & (auto['curb-weight']<2500)]
a

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101.0,5800,23,29,16430.0
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101.0,5800,23,29,16925.0
173,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92.0,4200,29,34,8948.0
174,-1,65,toyota,diesel,turbo,four,sedan,fwd,front,102.4,...,110,idi,3.27,3.35,22.5,73.0,4500,30,33,10698.0
175,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92.0,4200,27,32,9988.0
176,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92.0,4200,27,32,10898.0
177,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92.0,4200,27,32,11248.0

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [75]:

auto['price_per_hp'] = auto['price'] / auto['horsepower']
auto['price_per_hp'].replace([float('inf'), -float('inf')], float('nan'), inplace=True)
auto['price_per_hp']

0      121.576577
1      148.648649
2      107.142857
3      136.764706
4      151.739130
          ...
200    147.763158
201    119.031250
202    160.335821
203    211.981132
204    198.464912
Name: price_per_hp, Length: 205, dtype: float64

**Count how many cars have a `number_of_doors` as `four`.**

In [62]:
a=auto[auto['num-of-doors']=='four']
a.shape[0]

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [69]:
top_5_cars = auto.sort_values(by=['highway-mpg', 'price'], ascending=[False, False]).head(5)
top_5_cars[['make', 'highway-mpg', 'price']]

          make  highway-mpg   price
30       honda           54  6479.0
18   chevrolet           53  5151.0
90      nissan           50  7099.0
159     toyota           47  7788.0
160     toyota           47  7738.0

**How many cars have missing values in the `normalized_losses` column?**

In [70]:
missing_normalized_losses = auto['normalized-losses'].isna().sum()
missing_normalized_losses

0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

### The END